<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:tx="http://www.springframework.org/schema/tx" 
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:context="http://www.springframework.org/schema/context" 
		xmlns:jee="http://www.springframework.org/schema/jee"
		xsi:schemaLocation="
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd">

	<!-- 配置数据源，并设置连接池 -->
	<bean id="ds"
		class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<!-- 设置数据库连接参数 -->
		<property name="jdbcUrl" value="jdbc:oracle:thin:@localhost:1521:xe"/>
		<property name="driverClass" value="oracle.jdbc.OracleDriver"/>
		<property name="user" value="lhh"/>
		<property name="password" value="123456"/>
		<!-- 设置连接池参数 -->
		<property name="initialPoolSize" value="3"/>
		<property name="maxPoolSize" value="10"/>
		<property name="minPoolSize" value="1"/>
		<property name="acquireIncrement" value="2"/>
		<property name="maxIdleTime" value="60"/>
	</bean>
		
	<!-- 声明DAO组件 -->		
	<bean id="costDao"
		class="com.tarena.dao.CostDaoImpl">
		<!-- 给DAO注入数据源 -->
		<property name="dataSource" ref="ds"/>
	</bean>
		
</beans>