<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:tx="http://www.springframework.org/schema/tx" 
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:context="http://www.springframework.org/schema/context" 
		xmlns:jee="http://www.springframework.org/schema/jee"
		xsi:schemaLocation="
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd">

	<!-- 声明业务控制器组件 -->
	<bean id="helloController"
		class="com.tarena.controller.HelloController"
		scope="prototype"/>
	
	<!-- 配置请求与业务控制器的调用关系 -->
	<bean id="handlerMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<!-- 
					key指定请求路径；
					value指定要调用的控制器，
					即控制器的ID。
				 -->
				<prop key="hello.do">
					helloController
				</prop>
			</props>
		</property>
	</bean>
	
	<!-- 配置转发的页面 -->
	<!-- 
		viewResolver组件负责转发请求，
		它会将请求转发给如下的页面：
		prefix_value(前缀) 
			+ returningString(控制器返回字符串) 
			+ suffix_value(后缀)
		对于HelloController而言，该页面是
			/WEB-INF/hello.jsp
	 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" 
			value="/WEB-INF/"/>
		<property name="suffix"
			value=".jsp"/>
	</bean>
		
</beans>